<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://function-weather-trigger20240117134622.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6f737066-ce77-4ccd-ac18-173324ed6023/resourcegroups/weather-tracker-function/providers/Microsoft.Web/sites/function-weather-trigger20240117134622</ResourceId>
    <UserName>$function-weather-trigger20240117134622</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://function-weather-trigger20240117134622.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>